/obj/
/dep/
*.tr.c
*_preprocessed.*
/*.dsm
/*.prg
/*.st
/*.exe
/*.s19
/*.stc
/*.adf
/*.sym
/*.img
/*.rom
/*.map
/*.elf
/localconf.h
/makefile.dep
/needcountry.tmp
/mkheader
/bug
/draft
/erd
/grd
/ird
/mrd
/mkrom
/temp.rsc
/temp.def
/local.mk
/dsm.txt
/fal_dsm.txt
/.gdbinit
aes/asm_struct_gen.h
.tags*
.vscode